/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-title {
  text-align: center;
  background-color: #5f0b8f;
  color: #fff;
  padding: 20px;
  letter-spacing: 2px;
  font-weight: 500;
}
button.btn-add {
  background-color: 5f0b8f;
  border: none;
}
.box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.container {
  margin-top: 50px;
}

.error {
  text-align: center;
  color: red;
}

.success {
  text-align: center;
  color: green;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}



.theme-toggle{
  background-color: #333;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
